<header id="header">
  <nav class="nav">
    <div class="nav-left">
      <button class="menu-btn" id="menuBtn">
        <i class="fa fa-bars"></i>
      </button>
      <a href="" class="logo">Personal Drive</a>
    </div>
    <div class="nav-right">
      <button class="icon-btn" title="Upload">
        <i class="fa fa-cloud-upload"></i>
      </button>
      <button class="icon-btn" title="Logout" id="logoutBtn">
        <i class="fa fa-sign-out"></i>
      </button>
    </div>
  </nav>
</header>
